<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ToDo List</title>
</head>
<body>

    <header>
        
        <% if (!TarefaPorId) { %>
        <form action="/create" method="post">
            <div>
                <label>Tarefa:</label>
                <input type="text" name="tarefa" placeholder="Insira uma tarefa">
            </div>

            <button type="submit">Enviar</button>
        </form>
        <% } else { %>

        <form action="/EditarDados/<%= TarefaPorId._id %>" method="post">
            <div>
                <label>Editar Tarefa:</label>
                <input type="text" name="tarefa" value="<%= TarefaPorId.tarefa %>">
            </div>

            <button type="submit">Atualizar</button>
        </form>
        <% } %>
    </header>
    
    <section id="tarefas">
        <ul>
            <% dadosCadastradosBD.forEach((dadoBD) => { %>
            <li>
                <%= dadoBD.tarefa %>
                <a href="/GetById/<%= dadoBD._id %>">Editar</a>
                <a href="/ConfimDelete/<%= dadoBD._id %>">Apagar</a>
            </li>
            <% }) %>
        </ul>
    </section>

    <% if(TarefaDelete) { %>
    <section id="modal">
        <div id="card">
            <a href="/home">X</a>
            <h2>Confirmação</h2>
            <hr>
            <p>Deseja realmente apagar a tarefa: <%=TarefaDelete.tarefa%>? ></p>
            <a href="/Delete/<%= TarefaDelete._id %>">Sim</a>
            <a href="/home">Não</a>
        </div>
    </section>
    <% } %>

    <script src="script.js"></script>
</body>
</html>